.header {
  background-color: #131313;
  padding-bottom: 0;
}
.hero {
  padding: 0;
  background-color: #131313;
  &__box {
    display: flex;
    column-gap: 50px;
  }
  &__content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    width: 396px;
  }
  &__subtitle {
    margin-bottom: 24px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  &__title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__text {
    margin-top: 24px;
    margin-bottom: 40px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.75;
  }
  &__link {
    @include button;
  }
}
